.clock-panel {
  width:100%;
  height:50;
}

.clock-panel__rect {
  x:0;
  y:0;
  width:100%;
  height:100%;
  fill: gray;
}

.clock-panel__clock-label {
 font-size: 36;
 x: 0;
 y: 5;
 text-anchor: middle;
  fill: #ffffff;
}