.speed-panel.l-root {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

.speed-panel.l-gps-status {
  x: 0;
  y: 0;
}

.speed-panel.l-speed {
  x:0;
  y:25;
}

.speed-panel.l-direction {
  x:20%;
  y:170;
}

.speed-panel.l-params {
  x: 55%;
  y: 170;
}


.speed-panel.gps-element.--gps-active {
  fill: #ffffff;
  stroke-width: 2;
}
.speed-panel.gps-element.--gps-too-slow {
  fill: #555555;
  stroke-width: 1;
}

.speed-panel__gps-status {
  width:100%;
  height:34;
}

.speed-panel.gps-status__status-label {
  x:0;
  y:0;
  width:100%;
  text-anchor:middle;
  fill: #ff0000;
}

.speed-panel.gps-status__status-label.--gps-active {
  fill: #00ff00;
}

.speed-panel.speed {
  width: 100%;
  height: 140;
}

.speed-panel.speed__speed-label {
  fill: #555555;
  y:100;
  x:50%;
  font-size:128;
  height:1;
  text-anchor: middle;
}

.speed-panel.speed__speed-label.__gps-too-slow {
  fill: #555555;
}

.speed-panel.speed__unit-label {
  fill:"white";
  font-size:20;
  width:100%;
  y:$+3;
  text-anchor:middle;
}

.speed-panel.direction {
  width: 80;
  height: 80;
}

.speed-panel.direction__N {
  x:50%;
  y:0;
  font-size: 16;
  text-anchor: middle;
  fill: #ffffff;
}
.speed-panel.direction__E {
  x:100%;
  y:50%+8;
  font-size: 16;
  fill: #ffffff;
}
.speed-panel.direction__S {
  x:50%;
  y:100%+12;
  font-size: 16;
  text-anchor: middle;
  fill: #ffffff;
}
.speed-panel.direction__W {
  x:0;
  y:50%+8;
  font-size: 16;
  text-anchor: end;
  fill: #ffffff;
}
.speed-panel.direction__arc {
 x: 0%;
 y: 0%;
 width:100%;
 height:100%;
 fill: #ffffff;
 arc-width:1;
 start-angle:0;
 sweep-angle:360;
}

.speed-panel.direction__arrow1 {
  x1: 0%;
  y1: -50%;
  x2: 30%;
  y2: -10%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow2 {
  x1: 30%;
  y1: -10%;
  x2: 15%;
  y2: -10%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow3 {
  x1: 15%;
  y1: -10%;
  x2: 15%;
  y2: 44%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow4 {
  x1: 15%;
  y1: 45%;
  x2: -15%;
  y2: 45%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow5 {
  x1: -15%;
  y1: 44%;
  x2: -15%;
  y2: -10%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow6 {
  x1: -15%;
  y1: -10%;
  x2: -30%;
  y2: -10%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.direction__arrow7 {
  x1: -30%;
  y1: -10%;
  x2: 0%;
  y2: -50%;
  fill: #555555;
  stroke-width: 1;
}

.speed-panel.params__head {
  x: 0;
  y: $;
  font-size: 22; line-increment: 26;
  fill: white;
}

.speed-panel.params__value {
  x: 10;
  y: $+6;
  font-size: 34; line-increment: 42; font-step-size: 4; min-font-size: 24;
  fill: #555555;
}